.box-margin{
    margin-left: 250px;
}

.text-color{
    color: rgb(16,55,87);
}

@media only screen and (max-width: 768px) {
    .box-margin{
        margin-left: 0px;
    }

    .text-align{
        text-align: center;
        padding-left: 50px;
    }
  }